<div class="drop-container" xmlns="http://www.w3.org/1999/html">
  <div class="container" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef1 id="fileDropRef1" (change)="fileBrowseHandler($event)" accept=".pdf"/>
    <img src="assets/place_item.svg" alt="">
    <h3>Drag and drop CV file here (*.pdf)</h3>
    <h3>or</h3>
    <label for="fileDropRef1">Browse for file</label>
  </div>

  <div class="container" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef2 id="fileDropRef2" (change)="fileBrowseHandler($event)" accept=".pdf"/>
    <img src="assets/place_item.svg" alt="">
    <h3>Drag and drop Vacancy file here (*.pdf)</h3>
    <h3>or</h3>
    <label for="fileDropRef2">Browse for file</label>
  </div>
</div>

<div class="file-list-container">
  <div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
      <img src="assets/description.svg" alt="file">
      <div class="info">
        <h4 class="name">
          {{ file?.name }}
        </h4>
        <p class="size">
          {{ formatBytes(file?.size) }}
        </p>
        <app-progress [progress]="file?.progress"></app-progress>
      </div>
      <img src="assets/delete.svg" class="delete" alt="file" (click)="deleteFile(i)">
    </div>
  </div>
</div>

<div class="generate-container" *ngIf="files.length === 2">
  <button type="button" class="btn btn-success" (click)="generateRequestToChatGPT()">Generate</button>
  <div>{{ textModel.response }}</div>
  <button type="button" class="btn btn-success" (click)="saveToPdf()">saveToPdf</button>
</div>


