<div class="d-flex flex-row justify-content-around">
    <div class="card m-3" style="width: 18rem;">
        <img src="../../../assets/Image2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">SmartInterviewer, an innovative app designed to simplify your hiring process. With SmartInterviewer, effortlessly create tailored interviews using the OpenAI API by providing essential information about the vacancy and candidate. Our intelligent system will generate a customized list of questions and coding tasks, ensuring a streamlined and effective interview experience. Say goodbye to time-consuming interview preparations and confidently assess the best talent with SmartInterviewer.</p>
        </div>
      </div>
      <div class="card m-3" style="width: 18rem;">
        <img src="../../../assets/Image5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Discover SmartInterviewer powerful feedback generation feature, designed to optimize your candidate evaluation process. With just a few clicks, our intelligent app will analyze the generated materials from the interview and create a comprehensive, relevant feedback report about the candidate. Save time, boost efficiency, and make informed hiring decisions by leveraging the power of InterviewGen's cutting-edge technology to assess your candidates' performance with ease.</p>
        </div>
      </div>
      <div class="card m-3" style="width: 18rem;">
        <img src="../../../assets/Image6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">By analyzing the vacancy description and the candidate's CV, our advanced system intelligently identifies the perfect match and generates tailored interview content. Additionally, with our unique match percentage indicator, you can quickly visualize how well the candidate's profile aligns with the job requirements. Elevate your recruitment process with SmartInterviewer precision-driven approach, ensuring a laser-focused and efficient interviewing experience.</p>
        </div>
      </div>
      <div class="card m-3" style="width: 18rem;">
        <img src="../../../assets/Image1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Experience the convenience of SmartInterviewer interview material library feature, enabling you to save and curate the best-generated content from your interviews. Build your own personalized library with top-notch questions and tasks that have proven effective in the past. Easily access and re-use these valuable resources for future interviews, streamlining your hiring process and consistently ensuring a high-quality candidate assessment. </p>
        </div>
      </div>
</div>
