<div class="container">
  <div class="row">
    <div class="col-10 text-end">Interview materials generation</div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-success" routerLink="/set-up-interview/edit">Edit Set-up</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Example label</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput"
      placeholder="Example input placeholder"
    />
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Another label</label>
    <input
      type="text"
      class="form-control"
      id="formGroupExampleInput2"
      placeholder="Another input placeholder"
    />
  </div>
<!--  <app-file-drop></app-file-drop>-->
</div>


